[dependencies]
frame-benchmarking = { branch = "rococo-v1", default-features = false, version = "3.1.0", optional = true, git = "https://github.com/paritytech/substrate" }
frame-support = { branch = "rococo-v1", default-features = false, git = "https://github.com/paritytech/substrate" }
frame-system = { branch = "rococo-v1", default-features = false, git = "https://github.com/paritytech/substrate" }
orml-currencies = { optional = true, default-features = false,  git = "https://github.com/open-web3-stack/open-runtime-module-library" }
orml-tokens = { optional = true, default-features = false, git = "https://github.com/open-web3-stack/open-runtime-module-library" }
orml-traits = { default-features = false, git = "https://github.com/open-web3-stack/open-runtime-module-library" }
parity-scale-codec = { default-features = false, features = ["derive"], version = "2.0" }
serde = { features = ["derive"], version = "1.0.102", optional = true }
sp-core = { branch = "rococo-v1", default-features = false, git = "https://github.com/paritytech/substrate" }
sp-io = { branch = "rococo-v1", default-features = false, git = "https://github.com/paritytech/substrate" }
sp-runtime = { branch = "rococo-v1", default-features = false, git = "https://github.com/paritytech/substrate" }
sp-std = { branch = "rococo-v1", default-features = false, git = "https://github.com/paritytech/substrate" }
zeitgeist-primitives = { default-features = false, path = "../../primitives" }
pallet-balances = { optional = true, default-features = false, branch = "rococo-v1", git = "https://github.com/paritytech/substrate" }

[dev-dependencies]
orml-currencies = { git = "https://github.com/open-web3-stack/open-runtime-module-library" }
orml-tokens = { git = "https://github.com/open-web3-stack/open-runtime-module-library" }
pallet-balances = { branch = "rococo-v1", git = "https://github.com/paritytech/substrate" }
sp-api = { branch = "rococo-v1", git = "https://github.com/paritytech/substrate" }
zrml-swaps-runtime-api = { default-features = false, features = ["std"], path = "./rpc/runtime-api" }

[features]
default = ["std"]
std = [
    "frame-support/std",
    "frame-system/std",
    "orml-traits/std",
    "parity-scale-codec/std",
    "serde",
    "sp-core/std",
    "sp-io/std",
    "sp-runtime/std",
    "sp-std/std",
    "zeitgeist-primitives/std",
]
runtime-benchmarks = ["frame-benchmarking", "orml-currencies", "orml-tokens", "pallet-balances"]

[package]
authors = ["Zeitgeist PM <contact@zeitgeist.pm>"]
edition = "2018"
name = "zrml-swaps"
version = "0.1.0"
