[workspace]
default-members = [
    "node",
    "primitives",
    "runtime/common",
    "runtime/battery-station",
    "runtime/zeitgeist",
    "zrml/authorized",
    "zrml/court",
    "zrml/liquidity-mining",
    "zrml/market-commons",
    "zrml/orderbook-v1",
    "zrml/prediction-markets",
    "zrml/prediction-markets/runtime-api",
    "zrml/rikiddo",
    "zrml/simple-disputes",
    "zrml/swaps",
    "zrml/swaps/rpc",
    "zrml/swaps/runtime-api",
    "zrml/styx",
]
members = [
    "node",
    "primitives",
    "runtime/common",
    "runtime/battery-station",
    "runtime/zeitgeist",
    "zrml/authorized",
    "zrml/court",
    "zrml/liquidity-mining",
    "zrml/market-commons",
    "zrml/orderbook-v1",
    "zrml/orderbook-v1/fuzz",
    "zrml/prediction-markets",
    "zrml/prediction-markets/fuzz",
    "zrml/prediction-markets/runtime-api",
    "zrml/rikiddo",
    "zrml/rikiddo/fuzz",
    "zrml/simple-disputes",
    "zrml/swaps",
    "zrml/swaps/fuzz",
    "zrml/swaps/rpc",
    "zrml/swaps/runtime-api",
    "zrml/styx",
]
resolver = "2"

[patch."https://github.com/purestake/moonbeam"]
pallet-author-mapping = { git = "https://github.com/zeitgeistpm/moonbeam", branch = "downgrade-staking-and-mapping" }
parachain-staking = { git = "https://github.com/zeitgeistpm/moonbeam", branch = "downgrade-staking-and-mapping" }

[patch."https://github.com/shaunxw/xcm-simulator"]
xcm-emulator = { git = "https://github.com/sea212/xcm-simulator", branch = "polkadot-v0.9.19-moonbeam" }
