[workspace]
default-members = [
    "node",
    "primitives",
    "runtime/common",
    "runtime/battery-station",
    "runtime/zeitgeist",
    "utils",
    "zrml/authorized",
    "zrml/court",
    "zrml/global-disputes",
    "zrml/liquidity-mining",
    "zrml/market-commons",
    "zrml/orderbook-v1",
    "zrml/prediction-markets",
    "zrml/prediction-markets/runtime-api",
    "zrml/rikiddo",
    "zrml/simple-disputes",
    "zrml/swaps",
    "zrml/swaps/rpc",
    "zrml/swaps/runtime-api",
    "zrml/styx",
]
members = [
    "node",
    "primitives",
    "runtime/common",
    "runtime/battery-station",
    "runtime/zeitgeist",
    "utils",
    "zrml/authorized",
    "zrml/court",
    "zrml/global-disputes",
    "zrml/liquidity-mining",
    "zrml/market-commons",
    "zrml/orderbook-v1",
    "zrml/orderbook-v1/fuzz",
    "zrml/prediction-markets",
    "zrml/prediction-markets/fuzz",
    "zrml/prediction-markets/runtime-api",
    "zrml/rikiddo",
    "zrml/rikiddo/fuzz",
    "zrml/simple-disputes",
    "zrml/swaps",
    "zrml/swaps/fuzz",
    "zrml/swaps/rpc",
    "zrml/swaps/runtime-api",
    "zrml/styx",
]
resolver = "2"
# The list of dependencies below (which can be both direct and indirect dependencies) are crates
# that are suspected to be CPU-intensive, and that are unlikely to require debugging (as some of
# their debug info might be missing) or to require to be frequently recompiled. We compile these
# dependencies with `opt-level=3` even in "dev" mode in order to make "dev" mode more usable.
# The majority of these crates are cryptographic libraries.
#
# If you see an error mentioning "profile package spec ... did not match any packages", it
# probably concerns this list.
#
# This list is ordered alphabetically.
[profile.dev.package]
blake2 = { opt-level = 3 }
blake2-rfc = { opt-level = 3 }
blake2b_simd = { opt-level = 3 }
chacha20poly1305 = { opt-level = 3 }
cranelift-codegen = { opt-level = 3 }
cranelift-wasm = { opt-level = 3 }
crc32fast = { opt-level = 3 }
crossbeam-deque = { opt-level = 3 }
crypto-mac = { opt-level = 3 }
curve25519-dalek = { opt-level = 3 }
ed25519-dalek = { opt-level = 3 }
flate2 = { opt-level = 3 }
futures-channel = { opt-level = 3 }
hash-db = { opt-level = 3 }
hashbrown = { opt-level = 3 }
hmac = { opt-level = 3 }
httparse = { opt-level = 3 }
integer-sqrt = { opt-level = 3 }
keccak = { opt-level = 3 }
libm = { opt-level = 3 }
librocksdb-sys = { opt-level = 3 }
libsecp256k1 = { opt-level = 3 }
libz-sys = { opt-level = 3 }
mio = { opt-level = 3 }
nalgebra = { opt-level = 3 }
num-bigint = { opt-level = 3 }
parking_lot = { opt-level = 3 }
parking_lot_core = { opt-level = 3 }
percent-encoding = { opt-level = 3 }
primitive-types = { opt-level = 3 }
reed-solomon-novelpoly = { opt-level = 3 }
ring = { opt-level = 3 }
rustls = { opt-level = 3 }
sha2 = { opt-level = 3 }
sha3 = { opt-level = 3 }
smallvec = { opt-level = 3 }
snow = { opt-level = 3 }
substrate-bip39 = { opt-level = 3 }
twox-hash = { opt-level = 3 }
uint = { opt-level = 3 }
wasmi = { opt-level = 3 }
x25519-dalek = { opt-level = 3 }
yamux = { opt-level = 3 }
zeroize = { opt-level = 3 }

[profile.production]
codegen-units = 1
incremental = false
inherits = "release"
lto = true

[profile.release]
opt-level = 3
# Zeitgeist runtime requires unwinding.
panic = "unwind"
