[workspace]
members = [
    "node",
    "primitives",
    "runtime",
    "zrml/court",
    "zrml/liquidity-mining",
    "zrml/market-commons",
    "zrml/rikiddo",
    "zrml/rikiddo/fuzz",
    "zrml/orderbook-v1",
    "zrml/orderbook-v1/fuzz",
    "zrml/prediction-markets",
    "zrml/prediction-markets/fuzz",
    "zrml/prediction-markets/runtime-api",
    "zrml/rikiddo",
    "zrml/simple-disputes",
    "zrml/swaps",
    "zrml/swaps/fuzz",
    "zrml/swaps/rpc",
    "zrml/swaps/runtime-api",
]
resolver = "2"
