# When a part of the project is modified that is owned by a code owner, 
# the code owner has to be included in the respective PR's reviewer list.
# The code owner has the right to delegate the responsibility to review.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/node/ @sea212
/runtime/ @sea212
# Ignore everything but mod.rs in /runtime/common/src/weights/
/runtime/common/src/weights/*
/runtime/common/src/weights/mod.rs @sea212
/zrml/authorized/ @Chralt98
/zrml/court/ @Chralt98
/zrml/global-disputes/ @Chralt98
/zrml/prediction-markets/ @maltekliemann
/zrml/rikiddo/ @sea212
/zrml/simple-disputes/ @Chralt98
/zrml/styx/ @yornaath
/zrml/swaps/ @maltekliemann

# Skip weight and Cargo.toml files
**/weights.rs
**/Cargo.toml