[dependencies]
frame-benchmarking = { branch = "moonbeam-polkadot-v0.9.15-1", default-features = false, optional = true, git = "https://github.com/purestake/substrate" }
frame-support = { branch = "moonbeam-polkadot-v0.9.15-1", default-features = false, git = "https://github.com/purestake/substrate" }
frame-system = { branch = "moonbeam-polkadot-v0.9.15-1", default-features = false, git = "https://github.com/purestake/substrate" }
orml-traits = { branch = "moonbeam-polkadot-v0.9.15-1", default-features = false, git = "https://github.com/PureStake/open-runtime-module-library" }
parity-scale-codec = { default-features = false, features = ["derive"], version = "2.0" }
sp-arithmetic = { branch = "moonbeam-polkadot-v0.9.15-1", default-features = false, git = "https://github.com/purestake/substrate" }
sp-runtime = { branch = "moonbeam-polkadot-v0.9.15-1", default-features = false, git = "https://github.com/purestake/substrate" }
zeitgeist-primitives = { default-features = false, path = "../../primitives" }
scale-info = { version = "1.0", default-features = false, features = ["derive"] }
zrml-authorized = { default-features = false, path = "../authorized" }
zrml-court = { default-features = false, path = "../court" }
zrml-liquidity-mining = { default-features = false, path = "../liquidity-mining" }
zrml-market-commons = { default-features = false, path = "../market-commons" }
zrml-simple-disputes = { default-features = false, path = "../simple-disputes" }

# Mock

orml-currencies = { branch = "moonbeam-polkadot-v0.9.15-1", git = "https://github.com/PureStake/open-runtime-module-library", optional = true }
orml-tokens = { branch = "moonbeam-polkadot-v0.9.15-1", git = "https://github.com/PureStake/open-runtime-module-library", optional = true }
pallet-balances = { branch = "moonbeam-polkadot-v0.9.15-1", git = "https://github.com/purestake/substrate", optional = true }
pallet-randomness-collective-flip = { branch = "moonbeam-polkadot-v0.9.15-1", git = "https://github.com/purestake/substrate", optional = true }
pallet-timestamp = { branch = "moonbeam-polkadot-v0.9.15-1", git = "https://github.com/purestake/substrate", optional = true }
sp-api = { branch = "moonbeam-polkadot-v0.9.15-1", git = "https://github.com/purestake/substrate", optional = true }
sp-io = { branch = "moonbeam-polkadot-v0.9.15-1", git = "https://github.com/purestake/substrate", optional = true }
substrate-fixed = { optional = true, git = "https://github.com/encointer/substrate-fixed" }
zrml-prediction-markets-runtime-api = { features = ["std"], optional = true, path = "./runtime-api" }
zrml-rikiddo = { optional = true, path = "../rikiddo" }
zrml-swaps = { optional = true, path = "../swaps" }

[dev-dependencies]
zrml-prediction-markets = { features = ["mock"], path = "." }

[features]
default = ["std"]
mock = [
    "orml-currencies",
    "orml-tokens",
    "pallet-balances",
    "pallet-randomness-collective-flip",
    "pallet-timestamp",
    "sp-api",
    "sp-io",
    "substrate-fixed",
    "zrml-prediction-markets-runtime-api",
    "zrml-rikiddo",
    "zrml-swaps",
]
runtime-benchmarks = [
    "frame-benchmarking",
    "frame-support/runtime-benchmarks",
    "frame-system/runtime-benchmarks",
]
std = [
    'frame-benchmarking?/std',
    'frame-support/std',
    'frame-system/std',
    'orml-traits/std',
    'parity-scale-codec/std',
    'sp-arithmetic/std',
    'sp-runtime/std',
    'zeitgeist-primitives/std',
    'zrml-authorized/std',
    'zrml-court/std',
    'zrml-liquidity-mining/std',
    'zrml-market-commons/std',
    'zrml-simple-disputes/std',
]

[package]
authors = ["Zeitgeist PM <contact@zeitgeist.pm>"]
edition = "2021"
name = "zrml-prediction-markets"
version = "0.2.4"
