[dependencies]
frame-benchmarking = { branch = "polkadot-v0.9.26", default-features = false, optional = true, git = "https://github.com/paritytech/substrate" }
frame-support = { branch = "polkadot-v0.9.26", default-features = false, git = "https://github.com/paritytech/substrate" }
frame-system = { branch = "polkadot-v0.9.26", default-features = false, git = "https://github.com/paritytech/substrate" }
orml-traits = { branch = "polkadot-v0.9.26", default-features = false, git = "https://github.com/open-web3-stack/open-runtime-module-library" }
parity-scale-codec = { default-features = false, features = ["derive", "max-encoded-len"], version = "3.0.0" }
scale-info = { version = "2.1.1", default-features = false, features = ["derive"] }
serde = { version = "1.0.137", default-features = false, optional = true }
sp-arithmetic = { branch = "polkadot-v0.9.26", default-features = false, git = "https://github.com/paritytech/substrate" }
sp-runtime = { branch = "polkadot-v0.9.26", default-features = false, git = "https://github.com/paritytech/substrate" }
zeitgeist-primitives = { default-features = false, path = "../../primitives" }
zrml-authorized = { default-features = false, path = "../authorized" }
zrml-court = { default-features = false, path = "../court" }
zrml-global-disputes = { default-features = false, path = "../global-disputes", optional = true }
zrml-liquidity-mining = { default-features = false, path = "../liquidity-mining" }
zrml-market-commons = { default-features = false, path = "../market-commons" }
zrml-simple-disputes = { default-features = false, path = "../simple-disputes" }

# Mock

orml-asset-registry = { branch = "polkadot-v0.9.26", git = "https://github.com/open-web3-stack/open-runtime-module-library", default-features = false, optional = true }
orml-currencies = { branch = "polkadot-v0.9.26", git = "https://github.com/open-web3-stack/open-runtime-module-library", optional = true }
orml-tokens = { branch = "polkadot-v0.9.26", git = "https://github.com/open-web3-stack/open-runtime-module-library", optional = true }
pallet-balances = { branch = "polkadot-v0.9.26", git = "https://github.com/paritytech/substrate", optional = true }
pallet-randomness-collective-flip = { branch = "polkadot-v0.9.26", git = "https://github.com/paritytech/substrate", optional = true }
pallet-timestamp = { branch = "polkadot-v0.9.26", default-features = false, git = "https://github.com/paritytech/substrate", optional = true }
pallet-treasury = { branch = "polkadot-v0.9.26", git = "https://github.com/paritytech/substrate", optional = true }
sp-api = { branch = "polkadot-v0.9.26", git = "https://github.com/paritytech/substrate", optional = true }
sp-io = { branch = "polkadot-v0.9.26", git = "https://github.com/paritytech/substrate", optional = true }
substrate-fixed = { optional = true, git = "https://github.com/encointer/substrate-fixed" }
xcm = { branch = "release-v0.9.26", git = "https://github.com/paritytech/polkadot", optional = true, default-features = false }
zrml-prediction-markets-runtime-api = { features = ["std"], optional = true, path = "./runtime-api" }
zrml-rikiddo = { optional = true, path = "../rikiddo" }
zrml-swaps = { optional = true, path = "../swaps" }

[dev-dependencies]
more-asserts = "0.2"
test-case = "2.0.2"
zrml-prediction-markets = { features = ["mock"], path = "." }

[features]
default = ["std"]
mock = [
    "orml-currencies",
    "orml-tokens",
    "pallet-balances",
    "pallet-randomness-collective-flip",
    "pallet-timestamp/std",
    "pallet-treasury",
    "sp-api",
    "sp-io",
    "substrate-fixed",
    "zeitgeist-primitives/mock",
    "zrml-prediction-markets-runtime-api",
    "zrml-rikiddo",
    "zrml-swaps",
    "xcm",
    "orml-asset-registry",
]
parachain = []
runtime-benchmarks = [
    "frame-benchmarking/runtime-benchmarks",
    "frame-support/runtime-benchmarks",
    "frame-system/runtime-benchmarks",
    "pallet-timestamp/runtime-benchmarks",
    "zeitgeist-primitives/mock",
]
std = [
    "frame-benchmarking?/std",
    "frame-support/std",
    "frame-system/std",
    "orml-traits/std",
    "orml-asset-registry?/std",
    "parity-scale-codec/std",
    "serde?/std",
    "sp-arithmetic/std",
    "sp-runtime/std",
    "zeitgeist-primitives/std",
    "zrml-authorized/std",
    "zrml-court/std",
    "zrml-liquidity-mining/std",
    "zrml-market-commons/std",
    "zrml-simple-disputes/std",
    "zrml-global-disputes?/std",
    "xcm?/std",
]
try-runtime = [
    "frame-support/try-runtime",
]
with-global-disputes = [
    "zrml-global-disputes",
]

[package]
authors = ["Zeitgeist PM <contact@zeitgeist.pm>"]
edition = "2021"
name = "zrml-prediction-markets"
version = "0.3.8"
