[dependencies]
frame-support = { branch = "rococo-v1", default-features = false, git = "https://github.com/paritytech/substrate" }
frame-system = { branch = "rococo-v1", default-features = false, git = "https://github.com/paritytech/substrate" }
orml-traits = { default-features = false, git = "https://github.com/open-web3-stack/open-runtime-module-library" }
pallet-timestamp = { branch = "rococo-v1", default-features = false, git = "https://github.com/paritytech/substrate" }
parity-scale-codec = { default-features = false, features = ["derive"], version = "2.0" }
sp-core = { branch = "rococo-v1", default-features = false, git = "https://github.com/paritytech/substrate" }
sp-io = { branch = "rococo-v1", default-features = false, git = "https://github.com/paritytech/substrate" }
sp-runtime = { branch = "rococo-v1", default-features = false, git = "https://github.com/paritytech/substrate" }
zeitgeist-primitives = { default-features = false, path = "../../primitives" }
zrml-swaps = { default-features = false, path = "../swaps" }

[dev-dependencies]
orml-tokens = { git = "https://github.com/open-web3-stack/open-runtime-module-library" }
pallet-balances = { branch = "rococo-v1", git = "https://github.com/paritytech/substrate" }
serde = "1.0"

[features]
default = ["std"]
std = [
    'frame-support/std',
    'frame-system/std',
    'orml-traits/std',
    'pallet-timestamp/std',
    'parity-scale-codec/std',
    'sp-core/std',
    'sp-io/std',
    'sp-runtime/std',
    'zeitgeist-primitives/std',
    'zrml-swaps/std'
]

[package]
authors = ["Logan Saether <x@logansaether.com>"]
edition = "2018"
name = "zrml-prediction-markets"
version = "0.1.0"
