[dependencies]
arbitrary = { version = "1.0.1", features = ["derive"], optional = true }
cfg-if = { version = "1.0.0", default-features = false }
frame-executive = { branch = "moonbeam-polkadot-v0.9.29", default-features = false, git = "https://github.com/purestake/substrate" }
frame-support = { branch = "moonbeam-polkadot-v0.9.29", default-features = false, git = "https://github.com/purestake/substrate" }
frame-system = { branch = "moonbeam-polkadot-v0.9.29", default-features = false, git = "https://github.com/purestake/substrate" }
frame-try-runtime = { branch = "moonbeam-polkadot-v0.9.29", default-features = false, git = "https://github.com/purestake/substrate", optional = true }
hashbrown = { default-features = true, version = "0.11" }
pallet-balances = { branch = "moonbeam-polkadot-v0.9.29", git = "https://github.com/purestake/substrate", optional = true }
pallet-timestamp = { branch = "moonbeam-polkadot-v0.9.29", git = "https://github.com/purestake/substrate", optional = true }
parity-scale-codec = { default-features = false, features = ["derive", "max-encoded-len"], version = "3.0.0" }
scale-info = { version = "2.1.1", default-features = false, features = ["derive"] }
sp-core = { branch = "moonbeam-polkadot-v0.9.29", default-features = false, git = "https://github.com/purestake/substrate" }
sp-io = { branch = "moonbeam-polkadot-v0.9.29", git = "https://github.com/purestake/substrate", optional = true }
sp-runtime = { branch = "moonbeam-polkadot-v0.9.29", default-features = false, git = "https://github.com/purestake/substrate" }
substrate-fixed = { default-features = false, features = ["serde"], git = "https://github.com/encointer/substrate-fixed" }
zeitgeist-primitives = { default-features = false, path = "../../primitives" }

[dev-dependencies]
zrml-rikiddo = { features = ["mock"], path = "." }

[features]
default = ["std"]
mock = [
    "pallet-balances",
    "pallet-timestamp",
    "sp-io",
    "zeitgeist-primitives/mock",
]
std = [
    "frame-support/std",
    "frame-system/std",
    "parity-scale-codec/std",
    "sp-core/std",
    "sp-runtime/std",
    "substrate-fixed/std",
    "zeitgeist-primitives/std",
]
try-runtime = [
    "frame-support/try-runtime",
    "frame-system/try-runtime",
    "frame-executive/try-runtime",
    "frame-try-runtime",
]

[package]
authors = ["Zeitgeist PM <contact@zeitgeist.pm>"]
edition = "2021"
name = "zrml-rikiddo"
version = "0.3.6"
