[dependencies]
arbitrary = { version = "1.0.1", optional = true }
cfg-if = { version = "1.0.0", default-features = false }
frame-support = { branch = "polkadot-v0.9.8", default-features = false, git = "https://github.com/paritytech/substrate" }
frame-system = { branch = "polkadot-v0.9.8", default-features = false, git = "https://github.com/paritytech/substrate" }
parity-scale-codec = { default-features = false, features = ["derive"], version = "2.0" }
sp-core = { branch = "polkadot-v0.9.8", default-features = false, git = "https://github.com/paritytech/substrate" }
sp-runtime = { branch = "polkadot-v0.9.8", default-features = false, git = "https://github.com/paritytech/substrate" }
substrate-fixed = { default-features = false, features = ["serde"], git = "https://github.com/encointer/substrate-fixed" }
zeitgeist-primitives = { default-features = false, path = "../../primitives" }
hashbrown = { default-features = false, version = "0.11"}
pallet-balances = { branch = "polkadot-v0.9.8", git = "https://github.com/paritytech/substrate", optional = true }
pallet-timestamp = { branch = "polkadot-v0.9.8", git = "https://github.com/paritytech/substrate", optional = true }
sp-io = { branch = "polkadot-v0.9.8", git = "https://github.com/paritytech/substrate", optional = true }

[dev-dependencies]
zrml-rikiddo = { features = ["mock"], path = "." }

[features]
default = ["std"]
mock = [
    "pallet-balances",
    "pallet-timestamp",
    "sp-io",
]
std = [
    "frame-support/std",
    "frame-system/std",
    "parity-scale-codec/std",
    "sp-core/std",
    "sp-runtime/std",
    "substrate-fixed/std",
    "zeitgeist-primitives/std",
]

[package]
authors = ["Zeitgeist PM <contact@zeitgeist.pm>"]
edition = "2018"
name = "zrml-rikiddo"
version = "0.1.2"
