[[bin]]
name = "zeitgeist"
path = "./src/main.rs"

[build-dependencies]
substrate-build-script-utils = { branch = "polkadot-v0.9.23", git = "https://github.com/paritytech/substrate" }

[dependencies]
pallet-transaction-payment = { branch = "polkadot-v0.9.23", git = "https://github.com/paritytech/substrate" }
pallet-transaction-payment-rpc = { branch = "polkadot-v0.9.23", git = "https://github.com/paritytech/substrate" }
pallet-transaction-payment-rpc-runtime-api = { branch = "polkadot-v0.9.23", git = "https://github.com/paritytech/substrate" }
sc-basic-authorship = { branch = "polkadot-v0.9.23", git = "https://github.com/paritytech/substrate" }
sc-cli = { branch = "polkadot-v0.9.23", features = ["wasmtime"], git = "https://github.com/paritytech/substrate" }
sc-client-api = { branch = "polkadot-v0.9.23", git = "https://github.com/paritytech/substrate" }
sc-consensus = { branch = "polkadot-v0.9.23", git = "https://github.com/paritytech/substrate" }
sc-executor = { branch = "polkadot-v0.9.23", features = ["wasmtime"], git = "https://github.com/paritytech/substrate" }
sc-keystore = { branch = "polkadot-v0.9.23", git = "https://github.com/paritytech/substrate" }
sc-rpc = { branch = "polkadot-v0.9.23", git = "https://github.com/paritytech/substrate" }
sc-rpc-api = { branch = "polkadot-v0.9.23", git = "https://github.com/paritytech/substrate" }
sc-sysinfo = { branch = "polkadot-v0.9.23", git = "https://github.com/paritytech/substrate" }
sc-service = { branch = "polkadot-v0.9.23", features = ["wasmtime"], git = "https://github.com/paritytech/substrate" }
sc-telemetry = { branch = "polkadot-v0.9.23", git = "https://github.com/paritytech/substrate" }
sc-transaction-pool = { branch = "polkadot-v0.9.23", git = "https://github.com/paritytech/substrate" }
sc-transaction-pool-api = { branch = "polkadot-v0.9.23", git = "https://github.com/paritytech/substrate" }
sp-api = { branch = "polkadot-v0.9.23", git = "https://github.com/paritytech/substrate" }
sp-block-builder = { branch = "polkadot-v0.9.23", git = "https://github.com/paritytech/substrate" }
sp-blockchain = { branch = "polkadot-v0.9.23", git = "https://github.com/paritytech/substrate" }
sp-consensus = { branch = "polkadot-v0.9.23", git = "https://github.com/paritytech/substrate" }
sp-core = { branch = "polkadot-v0.9.23", git = "https://github.com/paritytech/substrate" }
sp-inherents = { branch = "polkadot-v0.9.23", git = "https://github.com/paritytech/substrate" }
sp-keyring = { branch = "polkadot-v0.9.23", git = "https://github.com/paritytech/substrate" }
sp-offchain = { branch = "polkadot-v0.9.23", git = "https://github.com/paritytech/substrate" }
sp-runtime = { branch = "polkadot-v0.9.23", git = "https://github.com/paritytech/substrate" }
sp-session = { branch = "polkadot-v0.9.23", git = "https://github.com/paritytech/substrate" }
sp-storage = { branch = "polkadot-v0.9.23", git = "https://github.com/paritytech/substrate" }
sp-timestamp = { branch = "polkadot-v0.9.23", git = "https://github.com/paritytech/substrate" }
sp-transaction-pool = { branch = "polkadot-v0.9.23", git = "https://github.com/paritytech/substrate" }
sp-trie = { branch = "polkadot-v0.9.23", git = "https://github.com/paritytech/substrate" }
substrate-frame-rpc-system = { branch = "polkadot-v0.9.23", git = "https://github.com/paritytech/substrate" }

# Try-Runtime

try-runtime-cli = { branch = "polkadot-v0.9.23", git = "https://github.com/paritytech/substrate", optional = true }

# Benchmark

frame-benchmarking = { branch = "polkadot-v0.9.23", git = "https://github.com/paritytech/substrate", optional = true }
frame-benchmarking-cli = { branch = "polkadot-v0.9.23", git = "https://github.com/paritytech/substrate" }

# Cumulus

cumulus-client-cli = { branch = "polkadot-v0.9.23", git = "https://github.com/paritytech/cumulus", optional = true }
cumulus-client-collator = { branch = "polkadot-v0.9.23", git = "https://github.com/paritytech/cumulus", optional = true }
cumulus-client-consensus-common = { branch = "polkadot-v0.9.23", git = "https://github.com/paritytech/cumulus", optional = true }
cumulus-client-consensus-relay-chain = { branch = "polkadot-v0.9.23", git = "https://github.com/paritytech/cumulus", optional = true }
cumulus-client-network = { branch = "polkadot-v0.9.23", git = "https://github.com/paritytech/cumulus", optional = true }
cumulus-client-service = { branch = "polkadot-v0.9.23", git = "https://github.com/paritytech/cumulus", optional = true }
cumulus-primitives-core = { branch = "polkadot-v0.9.23", git = "https://github.com/paritytech/cumulus", optional = true }
cumulus-primitives-parachain-inherent = { branch = "polkadot-v0.9.23", git = "https://github.com/paritytech/cumulus", optional = true }
cumulus-relay-chain-inprocess-interface = { branch = "polkadot-v0.9.23", git = "https://github.com/paritytech/cumulus", optional = true }
cumulus-relay-chain-interface = { branch = "polkadot-v0.9.23", git = "https://github.com/paritytech/cumulus", optional = true }
cumulus-relay-chain-rpc-interface = { branch = "polkadot-v0.9.23", git = "https://github.com/paritytech/cumulus", optional = true }

# Parachain

moonbeam-vrf = { tag = "v0.25.0", git = "https://github.com/purestake/moonbeam", optional = true }
nimbus-consensus = { branch = "moonbeam-polkadot-v0.9.23", default-features = false, git = "https://github.com/purestake/nimbus", optional = true }
nimbus-primitives = { branch = "moonbeam-polkadot-v0.9.23", default-features = false, git = "https://github.com/purestake/nimbus", optional = true }
pallet-author-inherent = { branch = "moonbeam-polkadot-v0.9.23", default-features = false, git = "https://github.com/purestake/nimbus", optional = true }
pallet-parachain-staking = { tag = "v0.25.0", git = "https://github.com/purestake/moonbeam", optional = true }
parity-scale-codec = { optional = true, version = "3.0.0" }
session-keys-primitives = { tag = "v0.25.0", default-features = false, git = "https://github.com/purestake/moonbeam", optional = true }
sc-chain-spec = { branch = "polkadot-v0.9.23", git = "https://github.com/paritytech/substrate", optional = true }
sc-network = { branch = "polkadot-v0.9.23", git = "https://github.com/paritytech/substrate", optional = true }
sc-tracing = { branch = "polkadot-v0.9.23", git = "https://github.com/paritytech/substrate", optional = true }
serde = { features = ["derive"], optional = true, version = "1.0.137" }
sp-keystore = { branch = "polkadot-v0.9.23", git = "https://github.com/paritytech/substrate", optional = true }
substrate-prometheus-endpoint = { branch = "polkadot-v0.9.23", git = "https://github.com/paritytech/substrate", optional = true }

# Polkadot

polkadot-cli = { branch = "release-v0.9.23", git = "https://github.com/paritytech/polkadot", optional = true }
polkadot-parachain = { branch = "release-v0.9.23", git = "https://github.com/paritytech/polkadot", optional = true }
polkadot-primitives = { branch = "release-v0.9.23", git = "https://github.com/paritytech/polkadot", optional = true }
polkadot-service = { branch = "release-v0.9.23", git = "https://github.com/paritytech/polkadot", optional = true }
polkadot-test-service = { branch = "release-v0.9.23", git = "https://github.com/paritytech/polkadot", optional = true }

# Standalone

sc-consensus-aura = { branch = "polkadot-v0.9.23", git = "https://github.com/paritytech/substrate" }
sc-finality-grandpa = { branch = "polkadot-v0.9.23", git = "https://github.com/paritytech/substrate" }
sp-consensus-aura = { branch = "polkadot-v0.9.23", git = "https://github.com/paritytech/substrate" }
sp-finality-grandpa = { branch = "polkadot-v0.9.23", git = "https://github.com/paritytech/substrate" }

# Utility
cfg-if = { version = "1.0.0" }
clap = { version = "3.1.18", features = ["derive"] }
hex-literal = { version = "0.3.4" }
jsonrpsee = { version = "0.13.0", features = ["server"] }
log = { optional = true, version = "0.4.17" }

# Zeitgeist

battery-station-runtime = { path = "../runtime/battery-station", optional = true }
zeitgeist-primitives = { path = "../primitives" }
zeitgeist-runtime = { path = "../runtime/zeitgeist", optional = true }
zrml-liquidity-mining = { path = "../zrml/liquidity-mining" }
zrml-swaps-rpc = { path = "../zrml/swaps/rpc" }

[features]
default = ["with-battery-station-runtime", "with-zeitgeist-runtime"]
parachain = [
    "battery-station-runtime?/parachain",
    "zeitgeist-runtime?/parachain",

    # Cumulus

    "cumulus-client-cli",
    "cumulus-client-collator",
    "cumulus-client-consensus-common",
    "cumulus-client-consensus-relay-chain",
    "cumulus-client-network",
    "cumulus-client-service",
    "cumulus-primitives-core",
    "cumulus-primitives-parachain-inherent",
    "cumulus-relay-chain-inprocess-interface",
    "cumulus-relay-chain-interface",
    "cumulus-relay-chain-rpc-interface",


    # Parachain

    "log",
    "moonbeam-vrf",
    "nimbus-consensus",
    "nimbus-primitives",
    "pallet-author-inherent",
    "pallet-parachain-staking",
    "parity-scale-codec",
    "session-keys-primitives",
    "sc-chain-spec",
    "sc-network",
    "sc-tracing",
    "serde",
    "sp-keystore",
    "substrate-prometheus-endpoint",

    # Polkadot

    "polkadot-cli",
    "polkadot-parachain",
    "polkadot-primitives",
    "polkadot-service",
    "polkadot-test-service",
]
runtime-benchmarks = [
    "battery-station-runtime?/runtime-benchmarks",
    "frame-benchmarking/runtime-benchmarks",
    "polkadot-service?/runtime-benchmarks",
    "zeitgeist-runtime?/runtime-benchmarks",
]
try-runtime = [
    "battery-station-runtime?/try-runtime",
    "zeitgeist-runtime?/try-runtime",
    "try-runtime-cli",
]
with-battery-station-runtime = ["battery-station-runtime"]
with-zeitgeist-runtime = ["zeitgeist-runtime"]

[package]
authors = ["Zeitgeist PM <contact@zeitgeist.pm>"]
build = "build.rs"
description = "An evolving blockchain for prediction markets and futarchy."
edition = "2021"
homepage = "https://zeitgeist.pm"
name = "zeitgeist-node"
version = "0.3.6"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]
