[[bin]]
name = 'zeitgeist'
path = './src/main.rs'

[build-dependencies]
substrate-build-script-utils = { branch = "polkadot-v0.9.4", git = "https://github.com/paritytech/substrate" }

[dependencies]
hex-literal = { version = "0.2" }
jsonrpc-core = { version = "15.0" }
pallet-transaction-payment-rpc = { branch = "polkadot-v0.9.4", git = "https://github.com/paritytech/substrate" }
sc-basic-authorship = { branch = "polkadot-v0.9.4", git = "https://github.com/paritytech/substrate" }
sc-cli = { branch = "polkadot-v0.9.4", features = ["wasmtime"], git = "https://github.com/paritytech/substrate" }
sc-client-api = { branch = "polkadot-v0.9.4", git = "https://github.com/paritytech/substrate" }
sc-consensus = { branch = "polkadot-v0.9.4", git = "https://github.com/paritytech/substrate" }
sc-executor = { branch = "polkadot-v0.9.4", features = ["wasmtime"], git = "https://github.com/paritytech/substrate" }
sc-keystore = { branch = "polkadot-v0.9.4", git = "https://github.com/paritytech/substrate" }
sc-rpc = { branch = "polkadot-v0.9.4",  git = "https://github.com/paritytech/substrate" }
sc-rpc-api = { branch = "polkadot-v0.9.4", git = "https://github.com/paritytech/substrate" }
sc-service = { branch = "polkadot-v0.9.4", features = ["wasmtime"], git = "https://github.com/paritytech/substrate" }
sc-telemetry = { branch = "polkadot-v0.9.4", git = "https://github.com/paritytech/substrate" }
sc-transaction-pool = { branch = "polkadot-v0.9.4", git = "https://github.com/paritytech/substrate" }
sp-api = { branch = "polkadot-v0.9.4", git = "https://github.com/paritytech/substrate" }
sp-block-builder = { branch = "polkadot-v0.9.4", git = "https://github.com/paritytech/substrate" }
sp-blockchain = { branch = "polkadot-v0.9.4", git = "https://github.com/paritytech/substrate" }
sp-consensus = { branch = "polkadot-v0.9.4", git = "https://github.com/paritytech/substrate" }
sp-core = { branch = "polkadot-v0.9.4", git = "https://github.com/paritytech/substrate" }
sp-runtime = { branch = "polkadot-v0.9.4", git = "https://github.com/paritytech/substrate" }
sp-timestamp = { branch = "polkadot-v0.9.4", git = "https://github.com/paritytech/substrate" }
sp-transaction-pool = { branch = "polkadot-v0.9.4", git = "https://github.com/paritytech/substrate" }
structopt = { version = "0.3" }
substrate-frame-rpc-system = { branch = "polkadot-v0.9.4", git = "https://github.com/paritytech/substrate" }

# Benchmark

frame-benchmarking = { branch = "polkadot-v0.9.4", git = "https://github.com/paritytech/substrate", optional = true }
frame-benchmarking-cli = { branch = "polkadot-v0.9.4", git = "https://github.com/paritytech/substrate", optional = true }

# Cumulus

cumulus-client-cli = { branch = "nimbus-polkadot-v0.9.4", git = "https://github.com/purestake/cumulus", optional = true }
cumulus-client-collator = { branch = "nimbus-polkadot-v0.9.4", git = "https://github.com/purestake/cumulus", optional = true }
cumulus-client-consensus-relay-chain = { branch = "nimbus-polkadot-v0.9.4", git = "https://github.com/purestake/cumulus", optional = true }
cumulus-client-network = { branch = "nimbus-polkadot-v0.9.4", git = "https://github.com/purestake/cumulus", optional = true }
cumulus-client-service = { branch = "nimbus-polkadot-v0.9.4", git = "https://github.com/purestake/cumulus", optional = true }
cumulus-primitives-core = { branch = "nimbus-polkadot-v0.9.4", git = "https://github.com/purestake/cumulus", optional = true }
cumulus-primitives-parachain-inherent = { branch = "nimbus-polkadot-v0.9.4", git = "https://github.com/purestake/cumulus", optional = true }

# Parachain

log = { optional = true, version = "0.4" }
nimbus-consensus = { branch = "nimbus-polkadot-v0.9.4", default-features = false, git = "https://github.com/purestake/cumulus", optional = true }
nimbus-primitives = { branch = "nimbus-polkadot-v0.9.4", default-features = false, git = "https://github.com/purestake/cumulus", optional = true }
pallet-author-inherent = { branch = "nimbus-polkadot-v0.9.4", default-features = false, git = "https://github.com/purestake/cumulus", optional = true }
parachain-staking = { branch = "master", git = "https://github.com/PureStake/moonbeam", optional = true }
parity-scale-codec = { optional = true, version = "2.0" }
sc-chain-spec = { branch = "polkadot-v0.9.4", git = "https://github.com/paritytech/substrate", optional = true }
sc-tracing = { branch = "polkadot-v0.9.4", git = "https://github.com/paritytech/substrate", optional = true }
serde = { features = ["derive"], optional = true, version = "1.0" }
sp-trie = { branch = "polkadot-v0.9.4", git = "https://github.com/paritytech/substrate", optional = true }

# Polkadot

polkadot-cli = { branch = "release-v0.9.4", git = "https://github.com/paritytech/polkadot", optional = true }
polkadot-parachain = { branch = "release-v0.9.4", git = "https://github.com/paritytech/polkadot", optional = true }
polkadot-primitives = { branch = "release-v0.9.4", git = "https://github.com/paritytech/polkadot", optional = true }
polkadot-service = { branch = "release-v0.9.4", git = "https://github.com/paritytech/polkadot", optional = true }
polkadot-test-service = { branch = "release-v0.9.4", git = "https://github.com/paritytech/polkadot", optional = true }

# Standalone

sc-consensus-aura = { branch = "polkadot-v0.9.4", git = "https://github.com/paritytech/substrate" }
sc-finality-grandpa = { branch = "polkadot-v0.9.4", git = "https://github.com/paritytech/substrate" }
sp-consensus-aura = { branch = "polkadot-v0.9.4", git = "https://github.com/paritytech/substrate" }
sp-finality-grandpa = { branch = "polkadot-v0.9.4", git = "https://github.com/paritytech/substrate" }

# Zeitgeist

zeitgeist-primitives = { path = "../primitives" }
zeitgeist-runtime = { path = "../runtime" }
zrml-swaps-rpc = { path = "../zrml/swaps/rpc" }

[features]
default = []
parachain = [
    "zeitgeist-runtime/parachain",

    # Cumulus

    "cumulus-client-cli",
    "cumulus-client-collator",
    "cumulus-client-consensus-relay-chain",
    "cumulus-client-network",
    "cumulus-client-service",
    "cumulus-primitives-core",
    "cumulus-primitives-parachain-inherent",

    # Parachain

    "log",
    "nimbus-consensus",
    "nimbus-primitives",
    "pallet-author-inherent",
    "parachain-staking",
    "parity-scale-codec",
    "sc-chain-spec",
    "sc-tracing",
    "serde",
    "sp-trie",

    # Polkadot

    "polkadot-cli",
    "polkadot-parachain",
    "polkadot-primitives",
    "polkadot-service",
    "polkadot-test-service",
]
runtime-benchmarks = [
    "frame-benchmarking",
    "frame-benchmarking-cli",
    "polkadot-service?/runtime-benchmarks",
    "zeitgeist-runtime/runtime-benchmarks"
]

[package]
authors = ['Zeitgeist PM <contact@zeitgeist.pm>']
build = 'build.rs'
description = 'A prediction market blockchain.'
edition = '2018'
homepage = 'https://zeitgeist.market'
name = 'zeitgeist-node'
version = '0.1.0'

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

