[dependencies]
frame-support = { branch = "moonbeam-polkadot-v0.9.13", default-features = false, git = "https://github.com/purestake/substrate" }
frame-system = { branch = "moonbeam-polkadot-v0.9.13", default-features = false, git = "https://github.com/purestake/substrate" }
parity-scale-codec = { default-features = false, features = ["derive"], version = "2.0" }
sp-runtime = { branch = "moonbeam-polkadot-v0.9.13", default-features = false, git = "https://github.com/purestake/substrate" }
zeitgeist-primitives = { default-features = false, path = "../../primitives" }
scale-info = { version = "1.0", default-features = false, features = ["derive"] }

[features]
default = ["std"]
std = [
    'frame-support/std',
    'frame-system/std',
    'parity-scale-codec/std',
    'sp-runtime/std',
    'zeitgeist-primitives/std',
]

[package]
authors = ["Zeitgeist PM <contact@zeitgeist.pm>"]
edition = "2021"
name = "zrml-market-commons"
version = "0.2.4"
