name: Rust

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        scripts: [
          "misc",
          "parachain",
          "standalone"
        ]
    steps:
    - uses: actions/checkout@v2
    - name: Initializes
      run: |
        rustup install nightly-2021-03-10
        rustup target add wasm32-unknown-unknown --toolchain nightly-2021-03-10
        rustup component add rustfmt --toolchain nightly-2021-03-10-x86_64-unknown-linux-gnu
    - name: Tests
      run: ./scripts/tests/${{ matrix.scripts }}.sh