name: Rust

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  format:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      # TODO(#839): `rustup show` installs the rustc version specified in the `rust-toolchain` file
      # according to https://rust-lang.github.io/rustup/overrides.html. We don't use actions-rs due
      # to the lack of support of `rust-toolchain` files with TOML syntax:
      # https://github.com/actions-rs/toolchain/issues/126.
      - name: Install rust toolchain
        run: rustup show
        
      - uses: actions-rs/install@v0.1
        with:
          crate: taplo-cli

      - name: Format
        run: ./scripts/tests/format.sh --check

  tests:
    name: Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        scripts: [
          "clippy",
          "misc",
          "parachain",
          "standalone"
        ]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install rust toolchain
        run: rustup show

      - name: Cache Dependencies
        uses: Swatinem/rust-cache@v2

      - name: Tests
        run: ./scripts/tests/${{ matrix.scripts }}.sh
  benchmark:
    name: Quick check benchmarks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install rust toolchain
        run: rustup show

      - run: ./scripts/benchmarks/quick_check.sh
  fuzz:
    name: Fuzz
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install rust toolchain
        run: rustup show

      - uses: actions-rs/install@v0.1
        with:
          crate: cargo-fuzz
          use-tool-cache: true

      - run: ./scripts/tests/fuzz.sh
